body {
  /*background-color: #bdc3c7;  */
  background: url(img/grumpycat.jpg);
  background-repeat: no-repeat;
  font-family: 'Corben', cursive;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}


#display_text {
  color: #2c3e50;
  font-size: 50px;
}

.container {
  width: 80%;
  position: relative;
  top: 60px;
  margin: auto;
  text-align: center; 
}

#content {
  margin: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, .50);
  padding-bottom: 50px;
  border-radius: 2em;
}

#display_text {
  color: #2c3e50;
  padding: 0 10px 0;
}

input {
  width: 80%;
  font-size: 25px;
  font-family: 'Corben', cursive;
  text-align: center;
}

#input_text {
  border: none;
  border-radius: 2em;
}

#input_text:focus {
  outline: none;
  border: none;
  border-radius: 2em;

}

#output_text, #goal_text {
  opacity: 0;
  position: fixed;
}

#cat {
  z-index: 5;
  position: absolute;
  top: 50px;
  right: -500px;
}

